.bg-navbar {
    background-color: #2898bd;
    background-color: black;
    opacity: 40%;
    opacity: 20%;
}

.bg-utama {
    background-color: #2898bd;
}

.navbar img {
    width: 40px;
    padding-bottom: 10px;
}

.coba {
    background-color: #79b791;
}

.gambar-bg {
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 0;
}

.gambar {
    width: 100%;
    height: 400px;
}

.carousel-item img {
    height: 500px; /* Sesuaikan tinggi sesuai kebutuhan */
    object-fit: cover;
}

.galeri {
    width: 300px;
    height: 300px;
}

#about {
    background-color: #F7941D;
}
  
.custom-caption {
    position: absolute;
    bottom: 10px; /* Letakkan teks di bawah gambar */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.0); /* Latar belakang gelap transparan */
    color: white; /* Warna teks putih */
    padding: 10px 20px;
    border-radius: 8px;
    width: 80%; /* Lebar teks agar lebih rapi */
    text-align: center;
    z-index: 10; /* Pastikan teks di atas gambar */
    opacity: 1 !important; /* Paksa teks selalu terlihat */
    transition: opacity 0.3s ease-in-out; /* Animasi halus */
}
  