.bg-navbar {
    background-color: #2898bd;
    /* background-color: black; */
    opacity: 100%;
}

.bg-utama {
    background-color: #2898bd;
}

.navbar img {
    width: 40px;
    padding-bottom: 10px;
}

.coba {
    background-color: #79b791;
}

.gambar-bg {
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 0;
}

.gambar {
    width: 100%;
    height: 400px;
}

.carousel-item img {
    height: 500px; /* Sesuaikan tinggi sesuai kebutuhan */
    object-fit: cover;
}

.galeri {
    width: 300px;
    height: 300px;
}

#about {
    background-color: #F7941D;
}
  
.custom-caption {
    position: absolute;
    bottom: 10px; /* Letakkan teks di bawah gambar */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.0); /* Latar belakang gelap transparan */
    color: white; /* Warna teks putih */
    padding: 10px 20px;
    border-radius: 8px;
    width: 80%; /* Lebar teks agar lebih rapi */
    text-align: center;
    z-index: 10; /* Pastikan teks di atas gambar */
    opacity: 1 !important; /* Paksa teks selalu terlihat */
    transition: opacity 0.3s ease-in-out; /* Animasi halus */
}
  

.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .scroll-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100px;
  }
  
  .img-frame {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    background-color: #f0f0f0;
    border: 3px solid #2898bd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  

body{
    padding-top: 88.5px;
}